/config.log
/config.status
/configure.out
/include/klee/Config/config.h
*.swo
*.swp
/Release/*
/*/Release/*
/*/*/Release/*
/*/*/*/Release/*
/*/*/*/*/Release/*
/Release+Asserts/*
/*/Release+Asserts/*
/*/*/Release+Asserts/*
/*/*/*/Release+Asserts/*
/*/*/*/*/Release+Asserts/*
/Debug/*
/*/Debug/*
/*/*/Debug/*
/*/*/*/Debug/*
/*/*/*/*/Debug/*
/Debug+Asserts/*
/*/Debug+Asserts/*
/*/*/Debug+Asserts/*
/*/*/*/Debug+Asserts/*
/*/*/*/*/Debug+Asserts/*
/Makefile.config
/tags
