**Release/
**Release\+*
**Debug/
**Debug\+*

cscope.*
*~

*.log
*.sum
*.out
*.status

*.config

config.h
site.exp

# Site file for llvm-lit
lit.site.cfg

TAGS
tags
GPATH
GRTAGS
GSYMS
GTAGS

# Eclipse
.settings/

# Visual Studio Code
.vscode/
